.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.clients-section__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid var(--social-link-team-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.clients-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  fill: var(--social-link-team-color);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .clients-section__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients-section__item {
    flex-basis: calc(100% / 6 - 30px);
  }
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// .clients-section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
// .clients-section__list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;
// }
// .clients-section__item {
//   flex-basis: calc(100% / 6 - 30px);
//   margin-left: 30px;
//   margin-top: 30px;
//   border: 1px solid var(--social-link-team-color);
//   border-radius: 4px;
//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     border-color: var(--accent-color);
//   }
// }
// .clients-section__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 90px;
//   fill: var(--social-link-team-color);
//   &:hover,
//   &:focus {
//     fill: var(--accent-color);
//   }
// }
