.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 25px;
}
.portfolio-cards-list__item {
  & > .link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
.portfolio-cards-list__img {
  width: 100%;
  max-height: 294px;
}
.portfolio-cards-wraper {
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: var(--navigation-logo-studio-footer);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-cards-wraper__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--portfolio-cards-title-color);
  margin-bottom: 4px;
}
.portfolio-cards-wraper__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--portfolio-cards-description-color);
}
.portfolio-cards-list__wraper {
  position: relative;
  overflow: hidden;
  perspective: 1000px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--overlay-background);
  color: var(--navigation-logo-studio-footer);
  padding: 20px;
  overflow: auto;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 23px 63px 23px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .portfolio-cards-list__link:hover &,
  .portfolio-cards-list__link:focus & {
    transform: translateY(0%);
  }
}
@media screen and (min-width: 768px) {
  .portfolio-cards-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .portfolio-cards-list {
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-cards-list__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

// .portfolio-cards-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;
// }
// .portfolio-cards-list__item {
//   flex-basis: calc(100% / 3 - 30px);
//   margin-left: 30px;
//   margin-top: 30px;
//   & > .link {
//     display: block;
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
//         0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
//   }
// }
// .portfolio-cards-wraper {
//   border: 1px solid #eeeeee;
//   border-top: none;
//   background-color: var(--navigation-logo-studio-footer);
//   padding-top: 20px;
//   padding-bottom: 20px;
//   padding-left: 24px;
//   padding-right: 24px;
// }
// .portfolio-cards-wraper__title {
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
//   color: var(--portfolio-cards-title-color);
//   margin-bottom: 4px;
// }
// .portfolio-cards-wraper__description {
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.03em;
//   color: var(--portfolio-cards-description-color);
// }
// .portfolio-cards-list__wraper {
//   position: relative;
//   overflow: hidden;
//   perspective: 1000px;
// }
// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   background-color: var(--overlay-background);
//   color: var(--navigation-logo-studio-footer);
//   padding: 20px;
//   overflow: auto;
//   transform: translateY(100%);
//   font-size: 18px;
//   line-height: 1.55;
//   letter-spacing: 0.03em;
//   padding: 63px 23px 63px 23px;
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   .portfolio-cards-list__link:hover &,
//   .portfolio-cards-list__link:focus & {
//     transform: translateY(0%);
//   }
// }
