.footer-form__subscribe {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navigation-logo-studio-footer);
}
.footer-form {
  margin: 0 auto;
  text-align: center;
}
.form-subscribe-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.form-subscribe-wraper__input {
  width: 450px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-mail-tel-link-color);
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-mail-tel-link-color);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-subscribe-wraper__btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: var(--navigation-logo-studio-footer);
  background-color: var(--accent-color);

  letter-spacing: 0.06em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 200px;
  align-self: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  margin-top: 20px;
}
.form-subscribe-wraper__icon {
  position: absolute;
  right: 150px;
  bottom: 10px;
  fill: var(--navigation-logo-studio-footer);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin-top: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
    text-align: unset;
  }
  .form-subscribe-wraper {
    flex-direction: unset;
  }
  .form-subscribe-wraper__input {
    width: 358px;
  }
  .form-subscribe-wraper__icon {
    right: 29px;
  }
  .form-subscribe-wraper__btn {
    margin-top: unset;
  }
}
// .footer-form__subscribe {
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--navigation-logo-studio-footer);
// }
// .footer-form {
//   margin-left: 93px;
// }
// .form-subscribe-wraper {
//   display: flex;
//   align-items: center;
//   position: relative;
//   margin-top: 20px;
// }

// .form-subscribe-wraper__input {
//   width: 358px;
//   height: 50px;
//   font-size: 16px;
//   line-height: 1.25;
//   letter-spacing: 0.03em;
//   color: var(--footer-mail-tel-link-color);
//   margin-right: 12px;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-sizing: border-box;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
//   background-color: transparent;
//   padding: 15px 16px;
//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &::placeholder {
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: 0.03em;
//     color: var(--footer-mail-tel-link-color);
//   }
//   &:focus {
//     outline: none;
//     border-color: var(--accent-color);
//   }
// }

// .form-subscribe-wraper__btn {
//   font-family: var(--main-font);
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   cursor: pointer;
//   color: var(--navigation-logo-studio-footer);
//   background-color: var(--accent-color);

//   letter-spacing: 0.06em;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   min-width: 200px;
//   align-self: center;
//   border: none;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   padding: 10px 29px;
// }
// .form-subscribe-wraper__icon {
//   position: absolute;
//   right: 29px;
//   bottom: 10px;
//   fill: var(--navigation-logo-studio-footer);
// }
