.navigation-logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.navigation__logo_studio-color {
  color: var(--navigation-logo-studio-color);
}
.navigation__logo_studio-footer-color {
  color: var(--navigation-logo-studio-footer);
}
// .navigation-logo-link {
//   font-family: var(--secondary-font);
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: var(--accent-color);
// }
// .navigation__logo_studio-color {
//   color: var(--navigation-logo-studio-color);
// }
// .navigation__logo_studio-footer-color {
//   color: var(--navigation-logo-studio-footer);
// }
