.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__bidding {
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-form-field {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--portfolio-cards-description-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-input-wrapper__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: var(--body-font-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-field__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-term__check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--portfolio-cards-description-color);
  justify-content: center;
  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 15px;
    padding-right: 16px;
    background-image: url(../images/Vector.svg);
    cursor: pointer;
    margin-right: 7px;
    border-radius: 2px;
  }
  .modal-form-term:focus + &::before {
    background-image: radial-gradient(
      circle at center,
      rgba(33, 150, 243, 0.1),
      rgba(33, 150, 243, 0.7)
    );
  }

  .modal-form-term:checked + &::before {
    background-color: var(--accent-color);
    border-radius: 2px;
    background-image: url(../images/icon-check.svg);
    background-position: center;
  }
}
.contract {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-operating);
}
.modal-form-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: var(--navigation-logo-studio-footer);
  background-color: var(--accent-color);

  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  align-self: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 33px;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .contract {
    font-size: 14px;
    line-height: 1.71;
  }
  .modal-form-term__check-desc {
    font-size: 14px;
    line-height: 1.71;
  }
}

// .modal-form {
//   display: flex;
//   flex-direction: column;
// }

// .modal-form__bidding {
//   font-family: Roboto;
//   font-style: normal;
//   font-size: 20px;
//   line-height: 1.15;
//   text-align: center;
//   letter-spacing: 0.03em;
//   margin-bottom: 12px;
// }
// .modal-form-field {
//   margin-bottom: 10px;
//   font-family: var(--main-font);
//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;
//   color: var(--portfolio-cards-description-color);
// }

// .modal-form-input-wrapper {
//   position: relative;
//   display: block;
//   margin-top: 4px;
// }

// .modal-form-input {
//   width: 100%;
//   height: 40px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   padding-left: 42px;
//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:focus {
//     outline: none;
//     border-color: var(--accent-color);
//   }
// }

// .modal-form-input-wrapper__icon {
//   position: absolute;
//   top: 50%;
//   left: 12px;
//   transform: translateY(-50%);
//   display: block;
//   fill: var(--body-font-color);

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   .modal-form-input:focus + & {
//     fill: var(--accent-color);
//   }
// }

// .modal-form-field__message {
//   width: 100%;
//   height: 120px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   padding: 12px 16px;
//   resize: none;
//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   margin-top: 4px;
//   &::placeholder {
//     font-size: 14px;
//     line-height: 1.14;
//     color: rgba(117, 117, 117, 0.5);
//   }

//   &:focus {
//     outline: none;
//     border-color: var(--accent-color);
//   }
// }

// .modal-form-term__check-desc {
//   font-size: 12px;
//   display: flex;
//   align-items: center;
//   font-family: Roboto;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: var(--portfolio-cards-description-color);
//   justify-content: center;
//   &::before {
//     display: block;
//     content: '';
//     width: 16px;
//     height: 15px;
//     background-image: url(../images/Vector.svg);
//     cursor: pointer;
//     margin-right: 7px;
//     border-radius: 2px;
//   }
//   .modal-form-term:focus + &::before {
//     background-image: radial-gradient(
//       circle at center,
//       rgba(33, 150, 243, 0.1),
//       rgba(33, 150, 243, 0.7)
//     );
//   }

//   .modal-form-term:checked + &::before {
//     background-color: var(--accent-color);
//     border-radius: 2px;
//     background-image: url(../images/icon-check.svg);
//     background-position: center;
//   }
// }
// .contract {
//   font-family: Roboto;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   text-decoration-line: underline;
//   color: var(--accent-operating);
// }
// .modal-form-btn {
//   font-family: var(--main-font);
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   cursor: pointer;
//   color: var(--navigation-logo-studio-footer);
//   background-color: var(--accent-color);

//   letter-spacing: 0.06em;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-width: 200px;
//   align-self: center;
//   border: none;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   padding: 10px 33px;
//   margin-top: 30px;
// }
