.join-container__subscribe {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--navigation-logo-studio-footer);
}
.join-container {
  margin-left: 70px;

  & > .social-list {
    margin: 0px;
  }
}
.join-container__color {
  background-color: var(--footer-join-link-color);
  fill: var(--navigation-logo-studio-footer);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--navigation-logo-studio-footer);
  }
}
