.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid;

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    .container {
      height: 483px;
      justify-content: space-between;
    }
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .footer {
    .container {
      align-items: baseline;
      flex-direction: row;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    .container {
      height: 343px;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;

//   .header & {
//     display: flex;
//     align-items: center;
//   }
//   .footer & {
//     display: flex;
//     align-items: baseline;
//   }
// }
