:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --accent-operating: #2196f3;
  --backgroud-body-studio: #f5f4fa;
  --hero-section-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --portfolio-cards-title-color: #212121;
  --portfolio-nav-text-color: #212121;
  --portfolio-cards-description-color: #757575;
  --footer-mail-tel-link-color: rgba(255, 255, 255, 0.6);
  --body-font-color: #212121;
  --navigation-logo-studio-color: #000000;
  --navigation-logo-studio-footer: #ffffff;
  --social-link-team-color: #afb1b8;
  --footer-join-link-color: rgba(255, 255, 255, 0.1);
  --overlay-background: rgba(33, 150, 243, 0.9);
  --types-of-product-bg: rgba(47, 48, 58, 0.8);
}
